@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');


* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    background-attachment: fixed;
    color: whitesmoke;
    box-sizing: border-box;
    font-family: 'Mynerve', cursive;
    letter-spacing: 1px;
}

body {
    background-image: linear-gradient(to bottom, #15191d, #5a6a79);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adicionar-tarefas, .tarefas {
    width: 40%;
    height: 40%;
    margin: 20px;
    border: 2px solid #15191d;
    border-radius: 8px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.519);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.adicionar-tarefas {
    height: 25%;
}

.adicionar-tarefas > h2 {
    margin-top: 20px;
}

h2 {
    width: 100%;
    height: 25%;
    font-size: 20px;
    text-transform: uppercase;
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    color: black;
    border-radius: 5px;
    font-style: italic;
}

input[type="text"] {
    width: 75%;
    height: 25px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.519);

    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #010101;
}

input[type="button"] {
    padding: 2px;
    width: 60%;
    height: 25px;
    cursor: pointer;
    background-color: #4b538b;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.595);
    color: rgb(233, 233, 233);
    border: 1px solid #010101;
}

input[type="button"]:hover {
    transform: scale(1.001);
}

ol {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 0px 15px 0px;
    font-style: oblique;
    margin: 25px;
    overflow-x: hidden;
    overflow-y: auto;
}

.item-container {
    width: 100%;
    cursor: pointer;
}


@media screen and (min-width: 450px) {
    .item-container:hover {
        transform: scale(1.02);
        text-decoration: line-through;
        text-decoration-color: #4b538b;
        text-decoration-thickness: 3px;
    }
}

.selecionado{
    text-decoration: line-through;
    text-decoration-color: #4b538b;
    text-decoration-thickness: 3px;
}

hr {
    margin-bottom: 5px;
    width: 100%;
}

p {
    font-size: 12px;
    text-align: center;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 450px) {
    body {
        flex-direction: column;
    }

    .adicionar-tarefas, .tarefas {
        width: 75%;
        height: 50%;
        margin: 20px;
    }

}